<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head-section :: head-section-fragment">
</head>
<body>


<nav th:replace="top-nav-bar.html :: top-nav-bar">
</nav>


<div class="container-fluid">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <form class="well form-horizontal" th:action="@{/savecar}" method="post" id="contact_form" th:object="${car}"
              enctype="multipart/form-data">
            <fieldset>

                <!-- Form Name -->
                <legend class="reg-number-title " th:text="${car.getRegNumber()}"></legend>
                <img th:src="@{'/imgs/'+ ${car.getCarPicName()}}" alt="Brak zdjęcia" class="carPhoto">
                <hr>
                <!-- Text input-->
                <h3>Postawowe dane</h3>
                <div class="row">
                    <div class="form-group" th:if="${car.getRegNumber()}==null" >

                        <label class="col-md-auto control-label">Number Rejestracyjny</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Number Rejestracyjny" class="form-control"
                                       type="text" th:field="*{regNumber}" required>

                            </div>
                        </div>
                    </div>
                    <div class="form-group" th:if="${car.getRegNumber()}!=null" hidden >
                        <label class="col-md-auto control-label">Number Rejestracyjny</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Number Rejestracyjny" class="form-control"
                                       type="text" th:field="*{regNumber}" required>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Marka</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Marka" class="form-control" type="text"
                                       th:field="*{mark}" required>
                                <div class="error-message" th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Model</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Model" class="form-control" type="text"
                                       th:field="*{model}" required>
                                <div class="error-message" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">



                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Ksywka</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Ksywka" class="form-control" type="text"
                                       th:field="*{nickname}">
                                <div class="error-message" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Miasto</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Miasto" class="form-control" type="text"
                                       th:field="*{city}">
                                <div class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Użytkownik</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Użytkownik" class="form-control" type="text"
                                       th:field="*{user}">
                                <div class="error-message" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Kolor</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Kolor" class="form-control" type="text"
                                       th:field="*{color}">
                                <div class="error-message" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-auto control-label">Data pierwszej rejestracji</label>
                        <div class="col-md-auto input-group date" id="firstRegDate">
                            <div class="input-group">

                                <input name="first_name" placeholder="YYYY-MM-DD" class="form-control" type="date"
                                       th:field="*{firstRegDate}" value="2018-07-22">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-auto control-label"></label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="vat1"
                                       th:field="*{VAT_1}">
                                <label class="form-check-label" for="vat1">
                                    Vat 1
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-auto control-label">Zdjęcie (max 2MB)</label>
                        <div class="col-md-auto input-group date">
                            <div class="input-group">

                                 <input name="carPic" class="form-control" type="file" >
                            </div>
                        </div>
                    </div>


                </div>

                <hr>
                <h3>Paliwo</h3>
                <div class="row">
                    <!-- Select Basic -->

                    <div class="form-group">
                        <label class="col-md-auto control-label">Rodzaj Paliwa</label>
                        <div class="col-md-auto selectContainer">
                            <div class="input-group">
                                <select name="Rodzaj paliwa" class="form-control selectpicker"
                                        th:field="*{fuelType}">
                                    <option value="Benzyna">Benzyna</option>
                                    <option value="Benzyna+LPG">Benzyna+LPG</option>
                                    <option value="Diesel">Diesel</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Ważność karty paliwowej</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="YYYY-MM-DD" class="form-control" type="date"
                                       th:field="*{fuelCardExpire}" value="01.01.2010">
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <h3>Przegląd</h3>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Data przegladu</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="YYYY-MM-DD" class="form-control" type="date"
                                       th:field="*{overviewDate}">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Przegieg przy przeglądzie</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Przegieg przy przeglądzie"
                                       class="form-control" type="text" th:field="*{overviewMillage}">
                                <div class="error-message" th:if="${#fields.hasErrors('overviewMillage')}" th:errors="*{overviewMillage}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <h3>Olej</h3>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Data wymiany oleju</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="YYYY-MM-DD" class="form-control" type="date"
                                       th:field="*{oilDate}" value="01.01.2010">

                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Przegieg wymianie oleju</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Przegieg przy przeglądzie"
                                       class="form-control" type="text" th:field="*{oilMillage}">
                                <div class="error-message" th:if="${#fields.hasErrors('oilMillage')}" th:errors="*{oilMillage}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Gaz</h3>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Data przegladu gazu</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Data przegladu gazu" class="form-control"
                                       type="date"
                                       th:field="*{gasOverviewDate}" value="01.01.2010">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Przegieg przy przeglądzie gazu</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder=">Przegieg przy przeglądzie gazu"
                                       class="form-control" type="text" th:field="*{gasOverviewMillage}">
                                <div class="error-message" th:if="${#fields.hasErrors('gasOverviewMillage')}" th:errors="*{gasOverviewMillage}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-auto control-label">Ważność butli</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder=">Przegieg przy przeglądzie gazu"
                                       class="form-control" type="date" th:field="*{gasCylinderExpire}"
                                       value="2010-01-01">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


                <h3>Ubezpieczenie</h3>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Ubezpieczyciel</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Ubezpieczyciel" class="form-control" type="text"
                                       th:field="*{insurer}">
                                <div class="error-message" th:if="${#fields.hasErrors('insurer')}" th:errors="*{insurer}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">OC data</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="YYYY-MM-DD"
                                       class="form-control" type="date" th:field="*{ocDate}" value="2010-01-01">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">OC Firma</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="OC Firma" class="form-control" type="text"
                                       th:field="*{ocCompany}">
                                <div class="error-message" th:if="${#fields.hasErrors('ocCompany')}" th:errors="*{ocCompany}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">AC Firma</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="AC firma"
                                       class="form-control" type="text" th:field="*{acCompany}">
                                <div class="error-message" th:if="${#fields.hasErrors('acCompany')}" th:errors="*{acCompany}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-auto control-label">Assistant</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Assistant"
                                       class="form-control" type="text" th:field="*{assistant}">
                                <div class="error-message" th:if="${#fields.hasErrors('assistant')}" th:errors="*{assistant}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <h3>Opony</h3>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-auto control-label">Letnie rozmiar</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Letnie rozmiar" class="form-control" type="text"
                                       th:field="*{summerTiresSize}">
                                <div class="error-message" th:if="${#fields.hasErrors('summerTiresSize')}" th:errors="*{summerTiresSize}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-auto control-label">Zimowe rozmiar</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Zimowe rozmiar"
                                       class="form-control" type="text" th:field="*{winterTiresSize}">
                                <div class="error-message" th:if="${#fields.hasErrors('winterTiresSize')}" th:errors="*{winterTiresSize}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-auto control-label">Lokalizacja opon</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Lokalizacja opon"
                                       class="form-control" type="text" th:field="*{tiresLocalization}">
                                <div class="error-message" th:if="${#fields.hasErrors('tiresLocalization')}" th:errors="*{tiresLocalization}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Inne</h3>
                <div class="row">
                    <!-- Text area -->

                    <div class="form-group">
                        <label class="col-md-auto control-label">Ekwipunek</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">

                                <textarea class="form-control" name="equipment" th:field="*{equipment}"
                                          placeholder="Wyposażenie"></textarea>
                                <div class="error-message" th:if="${#fields.hasErrors('equipment')}" th:errors="*{equipment}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Text area -->

                    <div class="form-group">
                        <label class="col-md-auto control-label">Uwagi</label>
                        <div class="col-md-auto inputGroupContainer">
                            <div class="input-group">

                                <textarea class="form-control" name="other" th:field="*{other}"
                                          placeholder="Uwagi"></textarea>
                                <div class="error-message" th:if="${#fields.hasErrors('other')}" th:errors="*{other}"></div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Zapisz<span
                                class="glyphicon glyphicon-send"></span></button>
                        <a th:href="@{/showrepairs(regNumber=${car.getRegNumber()})}" class="btn btn-warning btn-sm">
                            Naprawy
                        </a>
                        <a th:if="${!car.isNew()}" th:href="@{/deletecar(regNumber=${car.getRegNumber()})}" class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Usunąć samochód z bazy danych??'))) return false">
                            Usuń
                        </a>
                    </div>
                </div>


            </fieldset>
        </form>

    </main>
</div>
</div>

</div>
<footer th:replace="footer.html :: footer"></footer>


</body>
</html>