<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-view" th:fragment="card-view">


    <h3>Widok kart</h3>
    <hr>



    <!--    <div class="row" th:each="car,iter : ${cars}">-->
    <div class="col-sm-6 card-column" th:each="car,iter : ${cars}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="'Nr Rej. ' + ${car.getRegNumber()}"></h5>

                <div class="row">
                    <div class="col-sm-auto">
                        <img th:src="@{'/imgs/'+ ${car.getRegNumber()}+.jpg}" class="carPhoto"  th:if="${car.getCarPicPath()}!=null">
                    </div>
                    <div class="col-md-auto">
                        <h5 th:text="'Marka: ' + ${car.getMark()}"></h5>
                        <br>
                        <h5 th:text="'Model: ' + ${car.getModel()}"></h5>
                        <br>
                        <h5 th:text="'Ksywka: ' + ${car.getNickname()}"></h5>
                        <br>
                        <h5 th:text="'Uzytkownik: ' + ${car.getUser()}"></h5>

                    </div>

                </div>
                <div class="row">
                    <a th:href="@{/updatecar(regNumber=${car.getRegNumber()})}" class="btn btn-info btn-sm card-edit-button" >
                        Edytuj
                    </a>
                    <a th:href="@{/deletecar(regNumber=${car.getRegNumber()})}" class="btn btn-danger btn-sm card-edit-button"
                       onclick="if (!(confirm('Usunąć samochód z bazy danych??'))) return false">
                        Usuń
                    </a>



                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>