<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head-section :: head-section-fragment">

</head>
<body>
<nav th:insert="top-nav-bar.html :: top-nav-bar"></nav>
<div class="card-view">





        <main role="main" class="col-md-9 mainContainer">
            <div class="container-fluid">
            <h3>Widok kart</h3>

            <hr>
            <a th:href="@{/addcar}" class="btn btn-primary btn-sm mb-3">Dodaj samochód</a>
            <div>
            <div class="col-sm-5 card-column" th:each="car : ${cars}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.getRegNumber()}" align="center"></h5>

                        <div class="row">
                            <div class="col-sm-auto">
                                <img th:src="@{'/imgs/'+ ${car.getCarPicName()}}" class="carPhoto"  th:if="${car.getCarPicName()}!=null">
                            </div>
                            <div class="col-md-auto card-car-details">
                                <label class="col-md-auto control-label" th:text="'Marka: ' + ${car.getMark()}"></label>
                                <br>
                                <label class="col-md-auto control-label" th:text="'Model: ' + ${car.getModel()}"></label>
                                <br>
                                <label class="col-md-auto control-label" th:text="'Ksywka: ' + ${car.getNickname()}"></label>
                                <br>
                                <label class="col-md-auto control-label" th:text="'Uzytkownik: ' + ${car.getUser()}"></label>

                            </div>

                        </div>
                        <div class="row">
                            <a th:href="@{/updatecar(regNumber=${car.getRegNumber()})}"
                               class="btn btn-info btn-sm card-edit-button">
                                Edytuj
                            </a>
                            <a th:href="@{/showrepairs(regNumber=${car.getRegNumber()})}"
                               class="btn btn-warning btn-sm card-edit-button">
                                Naprawy
                            </a>
                            <a th:href="@{/deletecar(regNumber=${car.getRegNumber()})}"
                               class="btn btn-danger btn-sm card-edit-button"
                               onclick="if (!(confirm('Usunąć samochód z bazy danych??'))) return false">
                                Usuń
                            </a>
                            <a th:href="@{/gps/showmaplatest(regNumber=${car.getRegNumber()})}"
                               class="btn btn-success btn-sm card-edit-button">
                                GPS
                            </a>


                        </div>

                    </div>
                </div>
            </div>
            </div>
            </div>
        </main>






</div>

<footer th:replace="footer.html :: footer"></footer>
</body>
</html>