<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head-section :: head-section-fragment">

</head>

<body>

<div th:insert="top-nav-bar.html :: top-nav-bar"></div>


<div align="center">
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <h2>Wystąpił błąd</h2>
    <br>

    <h3 th:text="asd"></h3>
    <br>
    <h3>Jeśli uważasz, że jest to błąd aplikacji, skontaktuj się z devem.</h3>
    <br>
    <h3 th:text="'StatusCode: ' "></h3>
    <br>
    <br>
    <a th:href="@{/}">Powrót na stronę główną</a>







</div>
<footer th:replace="footer.html :: footer"></footer>
</body>
</html>