<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="head-section.html :: head-section-fragment">


</th:block>
<body>
<nav th:replace="top-nav-bar :: top-nav-bar">

</nav>


<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="row">

            <div id="datepicker"></div>

            <!--GOOGLE MAPS-->
            <div id="map"><h2 id="noReportsMessage"></h2></div>


            <!--HOUR SLIDER BELOW MAPS-->
            <div class="slidecontainer">
                <input type="range" min="0" max="1439" value="0" class="slider" id="myRange">
            </div>
            <label id="hourIndicator"></label>

        </div>

    </main>

</div>


<footer th:replace="footer.html :: footer"></footer>
</body>


<!--assigning variables from thymeleaf to js -->
<script th:inline="javascript">
    var directionsStringTl = [[${reportArray}]];
    var regNumberTl = [[${regnumber}]];
</script>

<!--js scripts-->
<script src="/js/show-map.js"></script>
<script src="/js/datepicker.js" type="text/javascript" th:inline="javascript"></script>

<script async defer
        th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apikey} + '&callback=initMap'"></script>

</html>