<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-section">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/home.css}">
    <!--    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>-->


    <link rel="stylesheet" type="text/css" th:href="@{/css/maps.css}"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Car Management Alfa Serwis</title>
</head>
<body>
<nav th:replace="top-nav-bar">
</nav>


<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="row">

            <div class="day-list">
                <ul class="list-group">
                    <li class="list-group-item" th:each="day : ${dayList}">
                        <a th:href="@{/gps/showmap(regNumber=${regnumber},timestamp=${day.getMinTimestamp()})}"
                           th:text="${day.getDate()}"></a>
                    </li>

                </ul>
            </div>

            <!--GOOGLE MAPS-->
            <div id="map"></div>


            <!--HOUR SLIDER BELOW MAPS-->
            <div class="slidecontainer">
                <input type="range" min="0" max="1439" value="0" class="slider" id="myRange">
            </div>
            <label id="hourIndicator"></label>

        </div>

    </main>

</div>

<footer th:replace="footer"></footer>

</body>
<script type="text/javascript" th:inline="javascript">

    var map;
    var directionsString = [[${reportArray}]];

    var jsonVar = JSON.parse(directionsString);

    function initMap() {

        map = new google.maps.Map(document.getElementById("map"), {

            center: {lat: jsonVar[0].lat, lng: jsonVar[0].lng},
            zoom: 12
        });

        var routePath = new google.maps.Polyline({
            path: jsonVar,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        routePath.setMap(map);

    }


    var slider = document.getElementById("myRange");
    var output = document.getElementById("hourIndicator");
    output.innerHTML = '00' + ':' + '00' // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        var hours = Math.floor(slider.value / 60);
        var minutes = slider.value - (hours * 60);

        if (hours.toString().length == 1) hours = '0' + hours;
        if (minutes.toString().length == 1) minutes = '0' + minutes;


        output.innerHTML = hours + ':' + minutes;


    }


</script>
<script async defer
        th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apikey} + '&callback=initMap'">
</script>
</html>