<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="head-section.html :: head-section-fragment">


</th:block>
<body>
<nav th:replace="top-nav-bar :: top-nav-bar">

</nav>


<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="row">

            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" th:text="${dayList.get(0).getDate()}">

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div th:each="day : ${dayList}">
                        <a class="dropdown-item"
                           th:href="@{/gps/showmap(regNumber=${regnumber},timestamp=${day.getMinTimestamp()})}"
                           th:text="${day.getDate()}"></a>
                    </div>
                </div>
            </div>
            <h2>Date Validation Using jQuery Datepicker</h2>
            <p>Date: <input type="text" id="datepicker"></p>

            <!--GOOGLE MAPS-->
            <div id="map"></div>


            <!--HOUR SLIDER BELOW MAPS-->
            <div class="slidecontainer">
                <input type="range" min="0" max="1439" value="0" class="slider" id="myRange">
            </div>
            <label id="hourIndicator"></label>

        </div>

    </main>

</div>

<!--to nie dziala-->
<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/

    $(function () {
        $("#datepicker").datepicker();
    });

    /*]]>*/

    // $( document ).ready(function() {
    //     $( '#datepicker' )._showDatepicker();
    // });

</script>

<!--<footer th:replace="footer.html :: footer"></footer>-->
</body>


<script th:inline="javascript">
    var directionsStringTl = [[${reportArray}]];
</script>
<script src="/js/show-map.js"></script>

<script async defer
        th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apikey} + '&callback=initMap'"></script>

</html>