<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow" th:fragment="top-nav-bar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}"><img th:src="@{/images/logo-alfa-serwis.png}" class="alfa-logo"></a>
    <input type="text" class="form-control form-control-primary w-100" placeholder="Szukaj..." >
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
</nav>



</body>
</html>