.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
}



main {
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 130px;


}

main .card {
    margin-bottom: 20px;

}


.form-horizontal{
    position: center;

}

.form-group{

    min-width: 300px;
}
.reg-number-title{
    font-style: italic;
    text-decoration: underline;

}

.carPhoto{
    max-width: 150px;
    margin-bottom: 10px;

    object-fit: contain;

}

.card-edit-button{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 10px;
}

.card{
    background: #343a40;
    color: white;


}

.card-title{
    text-decoration-style: solid;
    margin-bottom: 20px;

}
.card-column{
    float: left;

}


.alfa-logo{
    max-height: 40px;
    margin-left: 8px;
}

.delete-invoice{
    margin-left: 20px;
    color: RED;
}

.error-message{
    color: RED;
    font-size: 15px;
    font-style: italic;
}
footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #646c72;
    color: white;
    text-align: center;


    font-size: small;
}

.footer-link {
    color: brown;
}

.list-group {
    max-height: 200px;
    max-width: 100px;


}

.list-group-item {
    max-height: 50px;
    padding: 0px;
    margin: 0px;
    border: none;
}
